*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/listSamples/build/
/listSamples/build/intermediates/javac/debug/classes/
/viewpagerIndicator_library/build/
/viewpagerIndicator_library/build/intermediates/javac/debug/classes/